#include <physical_layouts.dtsi>

/ {
    physical_layouts {
        compatible = "zmk,physical-layouts";

        b_b_e_default: default_layout {
            keys = <
                &key_physical_attrs 100 100 0 0 0 0 0 // Key 0 (R0,C0)
                &key_physical_attrs 100 100 100 0 0 0 0 // Key 1 (R0,C1)
                &key_physical_attrs 100 100 200 0 0 0 0 // Key 2 (R0,C2)
                &key_physical_attrs 100 100 300 0 0 0 0 // Key 3 (R0,C3)
                &key_physical_attrs 100 100 400 0 0 0 0 // Key 4 (R0,C4)
                &key_physical_attrs 100 100 500 0 0 0 0 // Key 5 (R0,C5)
                &key_physical_attrs 100 100 600 0 0 0 0 // Key 6 (R0,C6)
                &key_physical_attrs 100 100 700 0 0 0 0 // Key 7 (R0,C7)
                &key_physical_attrs 100 100 800 0 0 0 0 // Key 8 (R0,C8)
                &key_physical_attrs 100 100 900 0 0 0 0 // Key 9 (R0,C9)
                &key_physical_attrs 100 100 1000 0 0 0 0 // Key 10 (R0,C10)
                &key_physical_attrs 100 100 1100 0 0 0 0 // Key 11 (R0,C11)
                &key_physical_attrs 100 100 1200 0 0 0 0 // Key 12 (R0,C12)
                &key_physical_attrs 100 100 1300 0 0 0 0 // Key 13 (R0,C13)
                &key_physical_attrs 100 100 0 100 0 0 0 // Key 14 (R1,C0)
                &key_physical_attrs 100 100 100 100 0 0 0 // Key 15 (R1,C1)
                &key_physical_attrs 100 100 200 100 0 0 0 // Key 16 (R1,C2)
                &key_physical_attrs 100 100 300 100 0 0 0 // Key 17 (R1,C3)
                &key_physical_attrs 100 100 400 100 0 0 0 // Key 18 (R1,C4)
                &key_physical_attrs 100 100 500 100 0 0 0 // Key 19 (R1,C5)
                &key_physical_attrs 100 100 600 100 0 0 0 // Key 20 (R1,C6)
                &key_physical_attrs 100 100 700 100 0 0 0 // Key 21 (R1,C7)
                &key_physical_attrs 100 100 800 100 0 0 0 // Key 22 (R1,C8)
                &key_physical_attrs 100 100 900 100 0 0 0 // Key 23 (R1,C9)
                &key_physical_attrs 100 100 1000 100 0 0 0 // Key 24 (R1,C10)
                &key_physical_attrs 100 100 1100 100 0 0 0 // Key 25 (R1,C11)
                &key_physical_attrs 100 100 1200 100 0 0 0 // Key 26 (R1,C12)
                &key_physical_attrs 100 100 1300 100 0 0 0 // Key 27 (R1,C13)
                &key_physical_attrs 100 100 0 200 0 0 0 // Key 28 (R2,C0)
                &key_physical_attrs 100 100 100 200 0 0 0 // Key 29 (R2,C1)
                &key_physical_attrs 100 100 200 200 0 0 0 // Key 30 (R2,C2)
                &key_physical_attrs 100 100 300 200 0 0 0 // Key 31 (R2,C3)
                &key_physical_attrs 100 100 400 200 0 0 0 // Key 32 (R2,C4)
                &key_physical_attrs 100 100 500 200 0 0 0 // Key 33 (R2,C5)
                &key_physical_attrs 100 100 600 200 0 0 0 // Key 34 (R2,C6)
                &key_physical_attrs 100 100 700 200 0 0 0 // Key 35 (R2,C7)
                &key_physical_attrs 100 100 800 200 0 0 0 // Key 36 (R2,C8)
                &key_physical_attrs 100 100 900 200 0 0 0 // Key 37 (R2,C9)
                &key_physical_attrs 100 100 1000 200 0 0 0 // Key 38 (R2,C10)
                &key_physical_attrs 100 100 1100 200 0 0 0 // Key 39 (R2,C11)
                &key_physical_attrs 200 100 1200 200 0 0 0 // Key 40 (R2,C12)
                &key_physical_attrs 100 100 1300 200 0 0 0 // Key 41 (R2,C13)
                &key_physical_attrs 100 100 0 300 0 0 0 // Key 42 (R3,C0)
                &key_physical_attrs 100 100 100 300 0 0 0 // Key 43 (R3,C1)
                &key_physical_attrs 100 100 200 300 0 0 0 // Key 44 (R3,C2)
                &key_physical_attrs 100 100 300 300 0 0 0 // Key 45 (R3,C3)
                &key_physical_attrs 100 100 400 300 0 0 0 // Key 46 (R3,C4)
                &key_physical_attrs 100 100 500 300 0 0 0 // Key 47 (R3,C5)
                &key_physical_attrs 100 100 600 300 0 0 0 // Key 48 (R3,C6)
                &key_physical_attrs 100 100 700 300 0 0 0 // Key 49 (R3,C7)
                &key_physical_attrs 100 100 800 300 0 0 0 // Key 50 (R3,C8)
                &key_physical_attrs 100 100 900 300 0 0 0 // Key 51 (R3,C9)
                &key_physical_attrs 100 100 1000 300 0 0 0 // Key 52 (R3,C10)
                &key_physical_attrs 100 100 1100 300 0 0 0 // Key 53 (R3,C11)
                &key_physical_attrs 100 100 1200 300 0 0 0 // Key 54 (R3,C12)
                &key_physical_attrs 100 100 1300 300 0 0 0 // Key 55 (R3,C13)
                &key_physical_attrs 100 100 0 400 0 0 0 // Key 56 (R4,C0)
                &key_physical_attrs 100 100 100 400 0 0 0 // Key 57 (R4,C1)
                &key_physical_attrs 100 100 200 400 0 0 0 // Key 58 (R4,C2)
                &key_physical_attrs 100 100 300 400 0 0 0 // Key 59 (R4,C3)
                &key_physical_attrs 100 100 400 400 0 0 0 // Key 60 (R4,C4)
                &key_physical_attrs 200 100 500 400 0 0 0 // Key 61 (R4,C5)
                &key_physical_attrs 100 100 600 400 0 0 0 // Key 62 (R4,C6)
                &key_physical_attrs 100 100 700 400 0 0 0 // Key 63 (R4,C7)
                &key_physical_attrs 100 100 800 400 0 0 0 // Key 64 (R4,C8)
                &key_physical_attrs 100 100 900 400 0 0 0 // Key 65 (R4,C9)
                &key_physical_attrs 100 100 1000 400 0 0 0 // Key 66 (R4,C10)
                &key_physical_attrs 100 100 1100 400 0 0 0 // Key 67 (R4,C11)
                &key_physical_attrs 100 100 1200 400 0 0 0 // Key 68 (R4,C12)
                &key_physical_attrs 100 100 1300 400 0 0 0 // Key 69 (R4,C13)
            >;
        };

        b_b_e_full_grid: full_grid_layout {
            keys = <
                &key_physical_attrs 100 100 0 0 0 0 0 // Key 0 (R0,C0)
                &key_physical_attrs 100 100 100 0 0 0 0 // Key 1 (R0,C1)
                &key_physical_attrs 100 100 200 0 0 0 0 // Key 2 (R0,C2)
                &key_physical_attrs 100 100 300 0 0 0 0 // Key 3 (R0,C3)
                &key_physical_attrs 100 100 400 0 0 0 0 // Key 4 (R0,C4)
                &key_physical_attrs 100 100 500 0 0 0 0 // Key 5 (R0,C5)
                &key_physical_attrs 100 100 600 0 0 0 0 // Key 6 (R0,C6)
                &key_physical_attrs 100 100 700 0 0 0 0 // Key 7 (R0,C7)
                &key_physical_attrs 100 100 800 0 0 0 0 // Key 8 (R0,C8)
                &key_physical_attrs 100 100 900 0 0 0 0 // Key 9 (R0,C9)
                &key_physical_attrs 100 100 1000 0 0 0 0 // Key 10 (R0,C10)
                &key_physical_attrs 100 100 1100 0 0 0 0 // Key 11 (R0,C11)
                &key_physical_attrs 100 100 1200 0 0 0 0 // Key 12 (R0,C12)
                &key_physical_attrs 100 100 1300 0 0 0 0 // Key 13 (R0,C13)
                &key_physical_attrs 100 100 0 100 0 0 0 // Key 14 (R1,C0)
                &key_physical_attrs 100 100 100 100 0 0 0 // Key 15 (R1,C1)
                &key_physical_attrs 100 100 200 100 0 0 0 // Key 16 (R1,C2)
                &key_physical_attrs 100 100 300 100 0 0 0 // Key 17 (R1,C3)
                &key_physical_attrs 100 100 400 100 0 0 0 // Key 18 (R1,C4)
                &key_physical_attrs 100 100 500 100 0 0 0 // Key 19 (R1,C5)
                &key_physical_attrs 100 100 600 100 0 0 0 // Key 20 (R1,C6)
                &key_physical_attrs 100 100 700 100 0 0 0 // Key 21 (R1,C7)
                &key_physical_attrs 100 100 800 100 0 0 0 // Key 22 (R1,C8)
                &key_physical_attrs 100 100 900 100 0 0 0 // Key 23 (R1,C9)
                &key_physical_attrs 100 100 1000 100 0 0 0 // Key 24 (R1,C10)
                &key_physical_attrs 100 100 1100 100 0 0 0 // Key 25 (R1,C11)
                &key_physical_attrs 100 100 1200 100 0 0 0 // Key 26 (R1,C12)
                &key_physical_attrs 100 100 1300 100 0 0 0 // Key 27 (R1,C13)
                &key_physical_attrs 100 100 0 200 0 0 0 // Key 28 (R2,C0)
                &key_physical_attrs 100 100 100 200 0 0 0 // Key 29 (R2,C1)
                &key_physical_attrs 100 100 200 200 0 0 0 // Key 30 (R2,C2)
                &key_physical_attrs 100 100 300 200 0 0 0 // Key 31 (R2,C3)
                &key_physical_attrs 100 100 400 200 0 0 0 // Key 32 (R2,C4)
                &key_physical_attrs 100 100 500 200 0 0 0 // Key 33 (R2,C5)
                &key_physical_attrs 100 100 600 200 0 0 0 // Key 34 (R2,C6)
                &key_physical_attrs 100 100 700 200 0 0 0 // Key 35 (R2,C7)
                &key_physical_attrs 100 100 800 200 0 0 0 // Key 36 (R2,C8)
                &key_physical_attrs 100 100 900 200 0 0 0 // Key 37 (R2,C9)
                &key_physical_attrs 100 100 1000 200 0 0 0 // Key 38 (R2,C10)
                &key_physical_attrs 100 100 1100 200 0 0 0 // Key 39 (R2,C11)
                &key_physical_attrs 100 100 1200 200 0 0 0 // Key 40 (R2,C12)
                &key_physical_attrs 100 100 1300 200 0 0 0 // Key 41 (R2,C13)
                &key_physical_attrs 100 100 0 300 0 0 0 // Key 42 (R3,C0)
                &key_physical_attrs 100 100 100 300 0 0 0 // Key 43 (R3,C1)
                &key_physical_attrs 100 100 200 300 0 0 0 // Key 44 (R3,C2)
                &key_physical_attrs 100 100 300 300 0 0 0 // Key 45 (R3,C3)
                &key_physical_attrs 100 100 400 300 0 0 0 // Key 46 (R3,C4)
                &key_physical_attrs 100 100 500 300 0 0 0 // Key 47 (R3,C5)
                &key_physical_attrs 100 100 600 300 0 0 0 // Key 48 (R3,C6)
                &key_physical_attrs 100 100 700 300 0 0 0 // Key 49 (R3,C7)
                &key_physical_attrs 100 100 800 300 0 0 0 // Key 50 (R3,C8)
                &key_physical_attrs 100 100 900 300 0 0 0 // Key 51 (R3,C9)
                &key_physical_attrs 100 100 1000 300 0 0 0 // Key 52 (R3,C10)
                &key_physical_attrs 100 100 1100 300 0 0 0 // Key 53 (R3,C11)
                &key_physical_attrs 100 100 1200 300 0 0 0 // Key 54 (R3,C12)
                &key_physical_attrs 100 100 1300 300 0 0 0 // Key 55 (R3,C13)
                &key_physical_attrs 100 100 0 400 0 0 0 // Key 56 (R4,C0)
                &key_physical_attrs 100 100 100 400 0 0 0 // Key 57 (R4,C1)
                &key_physical_attrs 100 100 200 400 0 0 0 // Key 58 (R4,C2)
                &key_physical_attrs 100 100 300 400 0 0 0 // Key 59 (R4,C3)
                &key_physical_attrs 100 100 400 400 0 0 0 // Key 60 (R4,C4)
                &key_physical_attrs 100 100 500 400 0 0 0 // Key 61 (R4,C5)
                &key_physical_attrs 100 100 600 400 0 0 0 // Key 62 (R4,C6)
                &key_physical_attrs 100 100 700 400 0 0 0 // Key 63 (R4,C7)
                &key_physical_attrs 100 100 800 400 0 0 0 // Key 64 (R4,C8)
                &key_physical_attrs 100 100 900 400 0 0 0 // Key 65 (R4,C9)
                &key_physical_attrs 100 100 1000 400 0 0 0 // Key 66 (R4,C10)
                &key_physical_attrs 100 100 1100 400 0 0 0 // Key 67 (R4,C11)
                &key_physical_attrs 100 100 1200 400 0 0 0 // Key 68 (R4,C12)
                &key_physical_attrs 100 100 1300 400 0 0 0 // Key 69 (R4,C13)
            >;
        };

        b_b_e_wide_space: wide_space_layout {
            keys = <
                &key_physical_attrs 100 100 0 0 0 0 0 // Key 0 (R0,C0)
                &key_physical_attrs 100 100 100 0 0 0 0 // Key 1 (R0,C1)
                &key_physical_attrs 100 100 200 0 0 0 0 // Key 2 (R0,C2)
                &key_physical_attrs 100 100 300 0 0 0 0 // Key 3 (R0,C3)
                &key_physical_attrs 100 100 400 0 0 0 0 // Key 4 (R0,C4)
                &key_physical_attrs 100 100 500 0 0 0 0 // Key 5 (R0,C5)
                &key_physical_attrs 100 100 600 0 0 0 0 // Key 6 (R0,C6)
                &key_physical_attrs 100 100 700 0 0 0 0 // Key 7 (R0,C7)
                &key_physical_attrs 100 100 800 0 0 0 0 // Key 8 (R0,C8)
                &key_physical_attrs 100 100 900 0 0 0 0 // Key 9 (R0,C9)
                &key_physical_attrs 100 100 1000 0 0 0 0 // Key 10 (R0,C10)
                &key_physical_attrs 100 100 1100 0 0 0 0 // Key 11 (R0,C11)
                &key_physical_attrs 100 100 1200 0 0 0 0 // Key 12 (R0,C12)
                &key_physical_attrs 100 100 1300 0 0 0 0 // Key 13 (R0,C13)
                &key_physical_attrs 100 100 0 100 0 0 0 // Key 14 (R1,C0)
                &key_physical_attrs 100 100 100 100 0 0 0 // Key 15 (R1,C1)
                &key_physical_attrs 100 100 200 100 0 0 0 // Key 16 (R1,C2)
                &key_physical_attrs 100 100 300 100 0 0 0 // Key 17 (R1,C3)
                &key_physical_attrs 100 100 400 100 0 0 0 // Key 18 (R1,C4)
                &key_physical_attrs 100 100 500 100 0 0 0 // Key 19 (R1,C5)
                &key_physical_attrs 100 100 600 100 0 0 0 // Key 20 (R1,C6)
                &key_physical_attrs 100 100 700 100 0 0 0 // Key 21 (R1,C7)
                &key_physical_attrs 100 100 800 100 0 0 0 // Key 22 (R1,C8)
                &key_physical_attrs 100 100 900 100 0 0 0 // Key 23 (R1,C9)
                &key_physical_attrs 100 100 1000 100 0 0 0 // Key 24 (R1,C10)
                &key_physical_attrs 100 100 1100 100 0 0 0 // Key 25 (R1,C11)
                &key_physical_attrs 100 100 1200 100 0 0 0 // Key 26 (R1,C12)
                &key_physical_attrs 100 100 1300 100 0 0 0 // Key 27 (R1,C13)
                &key_physical_attrs 100 100 0 200 0 0 0 // Key 28 (R2,C0)
                &key_physical_attrs 100 100 100 200 0 0 0 // Key 29 (R2,C1)
                &key_physical_attrs 100 100 200 200 0 0 0 // Key 30 (R2,C2)
                &key_physical_attrs 100 100 300 200 0 0 0 // Key 31 (R2,C3)
                &key_physical_attrs 100 100 400 200 0 0 0 // Key 32 (R2,C4)
                &key_physical_attrs 100 100 500 200 0 0 0 // Key 33 (R2,C5)
                &key_physical_attrs 100 100 600 200 0 0 0 // Key 34 (R2,C6)
                &key_physical_attrs 100 100 700 200 0 0 0 // Key 35 (R2,C7)
                &key_physical_attrs 100 100 800 200 0 0 0 // Key 36 (R2,C8)
                &key_physical_attrs 100 100 900 200 0 0 0 // Key 37 (R2,C9)
                &key_physical_attrs 100 100 1000 200 0 0 0 // Key 38 (R2,C10)
                &key_physical_attrs 100 100 1100 200 0 0 0 // Key 39 (R2,C11)
                &key_physical_attrs 100 100 1200 200 0 0 0 // Key 40 (R2,C12)
                &key_physical_attrs 100 100 1300 200 0 0 0 // Key 41 (R2,C13)
                &key_physical_attrs 100 100 0 300 0 0 0 // Key 42 (R3,C0)
                &key_physical_attrs 100 100 100 300 0 0 0 // Key 43 (R3,C1)
                &key_physical_attrs 100 100 200 300 0 0 0 // Key 44 (R3,C2)
                &key_physical_attrs 100 100 300 300 0 0 0 // Key 45 (R3,C3)
                &key_physical_attrs 100 100 400 300 0 0 0 // Key 46 (R3,C4)
                &key_physical_attrs 100 100 500 300 0 0 0 // Key 47 (R3,C5)
                &key_physical_attrs 100 100 600 300 0 0 0 // Key 48 (R3,C6)
                &key_physical_attrs 100 100 700 300 0 0 0 // Key 49 (R3,C7)
                &key_physical_attrs 100 100 800 300 0 0 0 // Key 50 (R3,C8)
                &key_physical_attrs 100 100 900 300 0 0 0 // Key 51 (R3,C9)
                &key_physical_attrs 100 100 1000 300 0 0 0 // Key 52 (R3,C10)
                &key_physical_attrs 100 100 1100 300 0 0 0 // Key 53 (R3,C11)
                &key_physical_attrs 100 100 1200 300 0 0 0 // Key 54 (R3,C12)
                &key_physical_attrs 100 100 1300 300 0 0 0 // Key 55 (R3,C13)
                &key_physical_attrs 100 100 0 400 0 0 0 // Key 56 (R4,C0)
                &key_physical_attrs 100 100 100 400 0 0 0 // Key 57 (R4,C1)
                &key_physical_attrs 100 100 200 400 0 0 0 // Key 58 (R4,C2)
                &key_physical_attrs 100 100 300 400 0 0 0 // Key 59 (R4,C3)
                &key_physical_attrs 100 100 400 400 0 0 0 // Key 60 (R4,C4)
                &key_physical_attrs 200 100 500 400 0 0 0 // Key 61 (R4,C5)
                &key_physical_attrs 100 100 600 400 0 0 0 // Key 62 (R4,C6)
                &key_physical_attrs 100 100 700 400 0 0 0 // Key 63 (R4,C7)
                &key_physical_attrs 100 100 800 400 0 0 0 // Key 64 (R4,C8)
                &key_physical_attrs 100 100 900 400 0 0 0 // Key 65 (R4,C9)
                &key_physical_attrs 100 100 1000 400 0 0 0 // Key 66 (R4,C10)
                &key_physical_attrs 100 100 1100 400 0 0 0 // Key 67 (R4,C11)
                &key_physical_attrs 100 100 1200 400 0 0 0 // Key 68 (R4,C12)
                &key_physical_attrs 100 100 1300 400 0 0 0 // Key 69 (R4,C13)
            >;
        };

        b_b_e_wide_enter: wide_enter_layout {
            keys = <
                &key_physical_attrs 100 100 0 0 0 0 0 // Key 0 (R0,C0)
                &key_physical_attrs 100 100 100 0 0 0 0 // Key 1 (R0,C1)
                &key_physical_attrs 100 100 200 0 0 0 0 // Key 2 (R0,C2)
                &key_physical_attrs 100 100 300 0 0 0 0 // Key 3 (R0,C3)
                &key_physical_attrs 100 100 400 0 0 0 0 // Key 4 (R0,C4)
                &key_physical_attrs 100 100 500 0 0 0 0 // Key 5 (R0,C5)
                &key_physical_attrs 100 100 600 0 0 0 0 // Key 6 (R0,C6)
                &key_physical_attrs 100 100 700 0 0 0 0 // Key 7 (R0,C7)
                &key_physical_attrs 100 100 800 0 0 0 0 // Key 8 (R0,C8)
                &key_physical_attrs 100 100 900 0 0 0 0 // Key 9 (R0,C9)
                &key_physical_attrs 100 100 1000 0 0 0 0 // Key 10 (R0,C10)
                &key_physical_attrs 100 100 1100 0 0 0 0 // Key 11 (R0,C11)
                &key_physical_attrs 100 100 1200 0 0 0 0 // Key 12 (R0,C12)
                &key_physical_attrs 100 100 1300 0 0 0 0 // Key 13 (R0,C13)
                &key_physical_attrs 100 100 0 100 0 0 0 // Key 14 (R1,C0)
                &key_physical_attrs 100 100 100 100 0 0 0 // Key 15 (R1,C1)
                &key_physical_attrs 100 100 200 100 0 0 0 // Key 16 (R1,C2)
                &key_physical_attrs 100 100 300 100 0 0 0 // Key 17 (R1,C3)
                &key_physical_attrs 100 100 400 100 0 0 0 // Key 18 (R1,C4)
                &key_physical_attrs 100 100 500 100 0 0 0 // Key 19 (R1,C5)
                &key_physical_attrs 100 100 600 100 0 0 0 // Key 20 (R1,C6)
                &key_physical_attrs 100 100 700 100 0 0 0 // Key 21 (R1,C7)
                &key_physical_attrs 100 100 800 100 0 0 0 // Key 22 (R1,C8)
                &key_physical_attrs 100 100 900 100 0 0 0 // Key 23 (R1,C9)
                &key_physical_attrs 100 100 1000 100 0 0 0 // Key 24 (R1,C10)
                &key_physical_attrs 100 100 1100 100 0 0 0 // Key 25 (R1,C11)
                &key_physical_attrs 100 100 1200 100 0 0 0 // Key 26 (R1,C12)
                &key_physical_attrs 100 100 1300 100 0 0 0 // Key 27 (R1,C13)
                &key_physical_attrs 100 100 0 200 0 0 0 // Key 28 (R2,C0)
                &key_physical_attrs 100 100 100 200 0 0 0 // Key 29 (R2,C1)
                &key_physical_attrs 100 100 200 200 0 0 0 // Key 30 (R2,C2)
                &key_physical_attrs 100 100 300 200 0 0 0 // Key 31 (R2,C3)
                &key_physical_attrs 100 100 400 200 0 0 0 // Key 32 (R2,C4)
                &key_physical_attrs 100 100 500 200 0 0 0 // Key 33 (R2,C5)
                &key_physical_attrs 100 100 600 200 0 0 0 // Key 34 (R2,C6)
                &key_physical_attrs 100 100 700 200 0 0 0 // Key 35 (R2,C7)
                &key_physical_attrs 100 100 800 200 0 0 0 // Key 36 (R2,C8)
                &key_physical_attrs 100 100 900 200 0 0 0 // Key 37 (R2,C9)
                &key_physical_attrs 100 100 1000 200 0 0 0 // Key 38 (R2,C10)
                &key_physical_attrs 100 100 1100 200 0 0 0 // Key 39 (R2,C11)
                &key_physical_attrs 200 100 1200 200 0 0 0 // Key 40 (R2,C12)
                &key_physical_attrs 100 100 1300 200 0 0 0 // Key 41 (R2,C13)
                &key_physical_attrs 100 100 0 300 0 0 0 // Key 42 (R3,C0)
                &key_physical_attrs 100 100 100 300 0 0 0 // Key 43 (R3,C1)
                &key_physical_attrs 100 100 200 300 0 0 0 // Key 44 (R3,C2)
                &key_physical_attrs 100 100 300 300 0 0 0 // Key 45 (R3,C3)
                &key_physical_attrs 100 100 400 300 0 0 0 // Key 46 (R3,C4)
                &key_physical_attrs 100 100 500 300 0 0 0 // Key 47 (R3,C5)
                &key_physical_attrs 100 100 600 300 0 0 0 // Key 48 (R3,C6)
                &key_physical_attrs 100 100 700 300 0 0 0 // Key 49 (R3,C7)
                &key_physical_attrs 100 100 800 300 0 0 0 // Key 50 (R3,C8)
                &key_physical_attrs 100 100 900 300 0 0 0 // Key 51 (R3,C9)
                &key_physical_attrs 100 100 1000 300 0 0 0 // Key 52 (R3,C10)
                &key_physical_attrs 100 100 1100 300 0 0 0 // Key 53 (R3,C11)
                &key_physical_attrs 100 100 1200 300 0 0 0 // Key 54 (R3,C12)
                &key_physical_attrs 100 100 1300 300 0 0 0 // Key 55 (R3,C13)
                &key_physical_attrs 100 100 0 400 0 0 0 // Key 56 (R4,C0)
                &key_physical_attrs 100 100 100 400 0 0 0 // Key 57 (R4,C1)
                &key_physical_attrs 100 100 200 400 0 0 0 // Key 58 (R4,C2)
                &key_physical_attrs 100 100 300 400 0 0 0 // Key 59 (R4,C3)
                &key_physical_attrs 100 100 400 400 0 0 0 // Key 60 (R4,C4)
                &key_physical_attrs 100 100 500 400 0 0 0 // Key 61 (R4,C5)
                &key_physical_attrs 100 100 600 400 0 0 0 // Key 62 (R4,C6)
                &key_physical_attrs 100 100 700 400 0 0 0 // Key 63 (R4,C7)
                &key_physical_attrs 100 100 800 400 0 0 0 // Key 64 (R4,C8)
                &key_physical_attrs 100 100 900 400 0 0 0 // Key 65 (R4,C9)
                &key_physical_attrs 100 100 1000 400 0 0 0 // Key 66 (R4,C10)
                &key_physical_attrs 100 100 1100 400 0 0 0 // Key 67 (R4,C11)
                &key_physical_attrs 100 100 1200 400 0 0 0 // Key 68 (R4,C12)
                &key_physical_attrs 100 100 1300 400 0 0 0 // Key 69 (R4,C13)
            >;
        };

    };
};

